<div class="mt-4 mb-4">
    <div class="btn-group-sm">
        <% for(let i= 0; i < brands.length; i++) {%>
            <button type="button" class="btn btn-light mt-1 shadow"><%- brands[i].name -%></button>
        <% } %>
    </div>
</div>