

    <footer class="pt-5 pb-3">
        <div class="container">
            <div class="row text-light">
                <div class="col-3">
                    <button type="button" id="telephone-btn">
                        <i class="bi bi-telephone"></i>
                        09678-666777
                    </button>
                    <p class="h4 mt-4">Company</p>
                    <p>About Us</p>
                    <p>Our Brands</p>
                    <p>Careers</p>
                </div>
                <div class="col-2">
                    <p class="h4">Help Center</p>
                    <p>FAQ</p>
                    <p>Support Center</p>
                    <p>Payment Security</p>
                </div>
                <div class="col-3">
                    <p class="h4">Terms & Condition</p>
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                    <p>Cookie Policy</p>
                    <p>
                        <a href="#" style="color: #F26E21;">Store Locator</a>
                    </p>
                </div>
                <div class="col-4">
                    <p class="h4">Newsletter</p>
                    <p>Sign up for get latest news and update</p>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Enter your email">
                        <button id="search-btn" class="btn btn-primary" type="button">Subscribe</button>
                    </form>
                    <div class="mt-4">
                        <button type="button" class="email-number-btn">
                            <div class="d-flex">
                                <p class="">
                                    <i class="bi bi-telephone me-2"></i>
                                    09678-666777
                                </p>
                            </div>
                        </button>
                        <button type="button" class="email-number-btn">
                            <p>support@brotherszone.com</p>
                        </button>
                    </div>
                    <div class="social-account">
                        <i class="bi bi-facebook me-2 h5"></i>
                        <i class="bi bi-instagram me-2 h5"></i>
                        <i class="bi bi-youtube me-2 h5"></i>
                        <i class="bi bi-linkedin h5"></i>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4 text-light">
                    <small>Copyright @ 2025 Brothers Zone. All rights reserved.</small>
                </div>
                <div class="col-3"></div>
                <div class="col-5">
                    <img width="100%" src="https://assets.gadgetandgear.com/upload/media/1698742255421752.webp" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="./js/script.js"></script>
</body>
</html>