<div>


    <ul class="pagination">
        <li class="page-item">
            <a href="?page=<%- active_page > 1 ? active_page - 1 : 1 %>" class="page-link bg-primary text-light">Prev</a>
        </li>
        
        <% for(let i = 1; i <= total_page_count; i++){ %>

            <!-- active_page == i ? 'active' : '' -->
            <li class="page-item <% if(active_page == i){ %> active <% }%>">
                <a href="?page=<%- i -%>" class="page-link <% if(active_page == i){ %> active-bg <% }%>">
                    <%- i -%>
                </a>
            </li>
        <% } %>
        
        <li class="page-item">
            <a href="?page=<%- active_page < total_page_count ? active_page + 1 : total_page_count %>" class="page-link bg-primary text-light">Next</a>
        </li>
    </ul>
</div>